:root {
  /* White */
  --white: #ffffff;

  /* Accent */
  --accent-600: #4863f7;
  --accent-500: #7878d7;

  /* Alert */
  --alert-600: #ff5c5c;

  /* Gray */
  --gray-900: #0d0d0d;
  --gray-800: #111111;
  --gray-700: #1a1a1a;
  --gray-200: #424242;
  --gray-100: #737373;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--gray-100);
  border-radius: 4px;
}

body {
  background-color: var(--gray-900);
  color: var(--white);
}

/* Use Inter for body, inputs and buttons */
body, input, button {
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 62px 124px;
  gap: 32px;
  overflow-y: scroll;
}

/* Main header (actions) */
.main-header {
  display: flex;
  flex-direction: row; 
  justify-content: flex-end; /* matches Figma: header aligned to end */
  align-items: center;
  gap: 16px;
  width: 100%;
}

/* Shared button base */
.btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;
  height: 44px; /* matches frame height */
  font-weight: 500;
  font-size: 14px;
  gap: 10px;
  
}

/* Outline button (semi-transparent dark background with subtle border) */
.btn-outline {
  background-color: transparent; /* from Figma fill */
  border: 0.5px solid var(--gray-200); /* subtle border */
  color: var(--white);
  padding: 0 16px;
  transition: background-color 0.3s;
}

.btn-outline:hover {
  background-color: var(--gray-200); /* slight hover effect */
}

/* Primary button */
.btn-primary {
  background: var(--accent-600);
  border: 1px solid var(--accent-500);
  color: var(--white);
  padding: 0 24px;
  transition: opacity 0.3s;
}

.btn-primary:hover {
  opacity: 0.8; /* slight hover effect */
}

.w150 { 
  width: 150px;
  justify-content: center;
 }

/* Icon inside button */
.icon {
  width: 20px;
  height: 20px;
}

/* Prompt title */
.prompt-title {
  font-weight: 600;
  font-size: 32px;
  outline: none;
}

/* Prompt content */
.prompt-content {
  font-weight: 400;
  font-size: 16px;
  color: var(--white);
  outline: none;
  line-height: 32px;
}

.editable-wrapper {
  position: relative;
}

.editable-wrapper::before {
  content: attr(data-placeholder);
  position: absolute;
  color: var(--gray-200);
  pointer-events: none;
  user-select: none;
  opacity: 0;
}

.editable-wrapper.is-empty::before {
  opacity: 1;
}

#title-wrapper.is-empty {
  font-size: 32px;
  font-weight: 600;
  color: var(--gray-200);
}

#content-wrapper.is-empty {
  font-size: 16px;
  color: var(--gray-200);
}